@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.form {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 10px;
   .elem {
      font-weight: 400;
      @include flex($justify: start);
      gap: 15px;
   }
   .title {
      font-size: 30px;
      line-height: 39px;
      color: $black;
      font-weight: 500;
      margin-bottom: 10px;
   }

   & > button {
      align-self: center;
      font-size: 16px;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 10px;
   }

   .control {
      display: flex;
      justify-content: end;
      align-items: end;

      .link {
         color: $black;
         font-weight: 400;
         text-decoration: none;
         transition: 0.3s;
         margin-bottom: 2px;
         opacity: 0.7;

         &:hover {
            opacity: 1;
         }
      }
   }

   label {
      color: white;
      margin-left: 20px;
   }
}
