@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.nav {
}
.list {
   @include flex();
   gap: 50px;
   font-size: $size-s;
}

.link {
   min-width: 45px;
   height: 33px;
   max-width: auto;
   transition: $transition-main;
   color: $light-gray;

   &:hover {
      color: $light-blue;
   }

   &.active {
      color: $light-green;
   }

   & > svg {
      width: 100%;
      height: 100%;
   }
}
