@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';


.container {
   position: relative;
}

.input {
   opacity: 0;
   position: absolute;
   width: 100%;
   height: 100%;
}

.btn {
   font-size: 18px;
   
      font-weight: 600;
      line-height: 150%;
      color: $black;
      padding: 8px 10px;
      border-radius: 10px;
      background: var(--text-secondary);
      min-width: 40%;
      width: 100%;
      @include flex($justify: center);
      border: none;
}

@media screen and (max-width: 720px) {
   .btn {
      background: var(--text-primary);
      color: var(--text-secondary);
   }
}
