@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.container {
   position: relative;
   cursor: pointer;
   z-index: 999;
}

.input {
   opacity: 0;
   position: absolute;
   width: 100%;
   cursor: pointer;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 10000000000;
}

.btn {
   font-size: 18px;

   font-weight: 600;
   line-height: 150%;
   color: black;
   padding: 8px 10px;
   border-radius: 10px;
   background: white;

   min-width: 40%;
   width: 100%;
   @include flex($justify: center);
   border: none;
   cursor: pointer;
}

@media screen and (max-width: 720px) {
   .btn {
      background: var(--text-primary);
      color: var(--text-secondary);
   }
}
