@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.slider {
   width: 100vw;
   background-color: var(--text-secondary);
   font-family: $font-tildaSans;
   @include flex($justify: start);
   &Item {
      @include flex($direction: column);
      width: 272px;
      cursor: pointer;
      opacity: 0.96;
      // transition: 0.3s;
      &:hover {
         opacity: 1;

      }
      &__top {
         width: 100%;
         height: 205px;
         // border: 2px solid white;
         position: relative;

         & > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0.5;
         }
         .price {
            position: absolute;
            bottom: 10px;
            right: 10px;

            border-radius: 6px;
            background: #60C300;
            padding: 7px 10px;
            font-weight: 700;
            font-size: 13px;
            color: white;
            @include flex($justify: center)
         }
      }

      &__bottom {
         background: #A3EB7F;
         height: 75px;
         width: 100%;
         padding: 10px;

         & > .name {
            font-size: 18px;
            font-weight: 500;
            color: black;
            text-transform: capitalize;

         }
      }
   }
}

