@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';
.loaderContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(24, 26, 35, 0.68);
   // backdrop-filter: blur(2px);
   z-index: 900;
}

// .loadingAnimation {
//    width: 300px;
//    height: 300px;
// }

// .video {
//    width: 150px;
//    height: 150px;
// }

// @keyframes rotate {
//    from {
//       transform: rotate(0);
//    }

//    to {
//       transform: rotate(3600deg);
//    }
// }

// .loaderIcon {
//    height: 170px;
//    z-index: 9999;
//    animation-name: rotate;
//    animation-duration: 10s;
// }

.loader {
   width: 88px;
   height: 88px;
   border: 8px solid #fff;
   border-bottom-color: transparent;
   border-radius: 50%;
   display: inline-block;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
