@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.advert {
   // border-radius: 3px;
   background: var(--negative);
   box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.356);
   border: 1px solid var(--text-primary);
   // @include flex($justify: start);
   @include flex($align: stretch, $justify: start);
   font-family: $font-roboto;
   cursor: pointer;
   opacity: 1;
   height: auto;
   transition: 0.3s;
   border-radius: 25px;
   // border: 1px solid var(--border-primary);
   color: var(--text-primary);
   overflow: hidden;
   position: relative;
   &:hover {
      border-color: rgb(139, 139, 139);
   }
   &Img {
      // height: 100%;
      grid-area: 1 / 1 / 3 / 2;
      margin: 10px;
      border: 1px solid rgb(192, 192, 192);
      width: 300px;
      height: 200px;
      min-height: 100%;
      
      border-radius: 6px;
      margin: 20px;
      // min-height: 100%;
      // height: 100%;
   }

   &Container {
      @include flex($direction: column, $align: stretch);
      width: calc(100% - 350px);
      // gap: 30px;
      padding: 20px;
      padding-left: 0;
   }
   &Header {
      @include flex($direction: column, $align: start, $justify: start);
      width: 100%;
      gap: 5px;
      &__top {
         @include flex($justify: end);
         width: 100%;
         gap: 20px;
      }
      &__title {
         font-size: 18px;
         line-height: 150%;
         font-weight: 400;
         color: var(--text-primary);
         margin-right: auto;
         text-transform: capitalize;

         // @include flex($justify: start);
      }

      &__model {
         font-size: 18px;
         // line-height: 180%;
         font-family: $font-roboto;

         font-weight: 300;
         color: var(--text-primary);
         opacity: 0.4;
         border-left: 1px solid gra;
      }

      &__desc {
         font-size: 15px;
         line-height: 120%;
         font-weight: 400;
         padding-bottom: 10px;
         color: var(--text-primary);
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
         max-width: 98%;

         &.no_desc {
            opacity: 0.5;
         }
      }

      &__isNew {
         border-radius: 4px;
         background: #64bd38;
         font-size: 13px;
         font-family: $font-tildaSans;
         font-weight: 300;
         color: var(--text-secondary);
         padding: 4px 11px;
         display: none;
         &.visible {
            display: block;
         }
      }

      &__priceContainer {
         @include flex();
         width: 30%;
      }

      &__price {
         font-size: 16px;
         font-weight: 800;
         color: var(--text-primary) !important;
         // padding-right: 50px;
      }

      &__isFavorite {
         border: none;
         background: transparent;
         @include flex($justify: center);
         color: var(--background-secondary);
         min-width: 25px;
         min-height: 25px;
         padding-bottom: 4px;
         opacity: 0.4;
         transition: 0.3s;
         // position: absolute;
         // top: 0;
         // right: 0;
         // padding: 7px 7px 10px 10px;
         // border-bottom-left-radius: 20px;
         // background-color: rgba(199, 199, 199, 0.545);
         &:hover {
            opacity: 0.7;
         }
         & > svg {
            width: 100%;
            height: 100%;
         }

         &.active {
            color: rgb(76, 248, 90);
            opacity: 0.7;

            &:hover {
               opacity: 0.5;
            }
         }
      }

      &.small {
      }
   }

   &Footer {
      @include flex($align: end);

      gap: 20px;

      &__location {
         @include flex($direction: column, $align: start);
         gap: 5px;

         font-size: 16px;
         color: var(--text-primary);
         font-weight: 400;
         opacity: 0.4;

         & > span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
      }

      &__boosts {
      }

      &__buttons {
         @include flex($justify: end);
         gap: 10px;
         width: 60%;
         & > button {
            width: 50%;
            padding: 8px;
            opacity: 0.7;
            font-weight: 300;
            @include flex($justify: center);
            font-size: 18px;
            color: white;
            border-radius: 5px;
            font-family: $font-tildaSans;
            border: none;
            transition: 0.3s;
            &:hover {
               opacity: 1;
            }
            &.approve {
               background: #60c300;
            }
            &.reject {
               background: #ff0909;
            }
            &.change {
               background: #678bf4;
            }
         }
      }
   }

   .fromOwner {
      @include flex($justify: center);
      border-radius: 4px;
      background: var(--background-secondary);
      padding: 2px 8px;
      gap: 10px;
      font-size: 13px;
      color: var(--text-secondary);
      font-family: $font-tildaSans;
      font-weight: 400;
   }
}

@media screen and (max-width: 1100px) {
   .advert {
      &Img {
         // height: 100%;
         border-radius: 10px;
         width: 250px;
         height: 100%;
      }

      &Container {
         @include flex($direction: column, $align: stretch);
         width: calc(100% - 250px);
         gap: 10px;
      }
      &Header {
         @include flex($direction: column, $align: start, $justify: start);
         gap: 5px;
         &__top {
            @include flex($justify: end);
            width: 100%;
            gap: 20px;
         }
         &__title {
            font-size: 25px;
         }

         &__model {
            font-size: 13px;
            // line-height: 180%;
         }

         &__desc {
            font-size: 18px;
         }

         &__isNew {
            font-size: 16px;
         }

         &__price {
            font-size: 22px;
         }

         &__isFavorite {
            width: 20px;
            height: 20px;
            padding-bottom: 4px;
         }
      }

      &Footer {
         @include flex();

         gap: 20px;

         &__location {
            font-size: 16px;
            font-weight: 500;
         }

         &__buttons {
            & > button {
               font-size: 14px;
            }
         }
      }

      .fromOwner {
         @include flex($justify: center);
         gap: 8px;
      }
   }
}

@media screen and (max-width: 720px) {
   .advert {
      &Img {
         // height: 100%;
         width: 210px;
         height: 100%;
         margin: 10px;
      }

      &Container {
         width: calc(100% - 210px);
         gap: 4px;
         padding: 10px;
         padding-left: 0;
      }
      &Header {
         gap: 2px;
         &__top {
            width: 100%;
            gap: 10px;
         }
         &__title {
            font-size: 16px;
         }

         &__model {
            font-size: 11px;
            // line-height: 180%;
            font-family: $font-roboto;
            display: none;

            font-weight: 400;
         }

         &__desc {
            font-size: 12px;
            line-height: 150%;
            font-weight: 400;
         }

         &__isNew {
            border-radius: 4px;
            background: #64bd38;
            font-size: 10px;
            font-family: $font-tildaSans;
            font-weight: 300;
            padding: 2px 6px;
         }

         &__priceContainer {
            @include flex();
            width: 30%;
         }

         &__price {
            font-size: 16px;
            font-weight: 600;
         }

         &__isFavorite {
            border: none;
            background: transparent;
            @include flex($justify: center);
            width: 18px;
            height: 18px;
            padding-bottom: 2px;
            & > svg {
               width: 100%;
               height: 100%;
            }
         }
      }

      &Footer {
         @include flex();

         gap: 20px;

         &__location {
            @include flex($direction: column, $align: start);
            gap: 5px;

            font-size: 8px !important;
            font-weight: 500;
         }

         &__buttons {
            & > button {
               font-size: 10px;
            }
         }
      }

      .fromOwner {
         border-radius: 6px;
         padding: 2px 4px;
         font-size: 14px;
         gap: 5px;
         font-family: $font-tildaSans;
         font-weight: 400;

         & > img {
            width: 12px;
            height: 12px;
         }
      }
   }
}

@media screen and (max-width: 500px) {
   .advert {
      flex-direction: column;
      border-radius: 10px;
      position: relative;
      &Img {
         // height: 100%;
         width: 100%;
         height: 120px;
         margin: 0;
         min-height: 0;
         border-radius: 10px;
      }

      &Container {
         width: 100%;
         gap: 4px;
         padding: 5px 10px 8px 10px;
      }
      &Header {
         &__top {
            width: 100%;
            gap: 7px;

            @include flex($direction: column, $align: start);
            gap: 3px;
         }
         &__title {
            font-size: 16px !important;
         }

         &__desc {
            font-size: 14px !important;
         }

         &__price {
            font-size: 13px !important;
         }

         &__isFavorite {
            width: 14px !important;
            height: 14px !important;
            position: absolute;
            top: 10px;
            right: 10px;
            color: black;
         }
      }

      &Footer {
         flex-direction: column;
         align-items: start;
         gap: 5px;
         margin-top: 5px;
         &__location {
            @include flex();
            width: 100%;
            font-size: 13px !important;
         }

         &__buttons {
            width: 100%;
         }
      }
   }
}

@media screen and (max-width: 360px) {
   .advert {
      &Img {
      }

      &Header {
        
            &__top {
               width: 100%;
               gap: 7px;
   
               @include flex($direction: column, $align: start);
               gap: 3px;
            }
            &__title {
               font-size: 13px !important;
            }
   
            &__desc {
               font-size: 12px !important;
            }
   
            &__price {
               font-size: 13px !important;
            }
   
            
         &__isFavorite {
            width: 14px !important;
            height: 14px !important;
            position: absolute;
            top: 5px;
            right: 5px;
            color: black;
         }
      }
   }
}
