@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.advert {
   border-radius: 10px;
   background: var(--negative);
   box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.496);
   padding: 20px;
   // @include flex($justify: start);
   @include flex($align: stretch, $justify: start);
   gap: 20px;
   font-family: $font-roboto;
   cursor: pointer;
   opacity: 0.85;
   transition: 0.3s;
   border: 1px solid var(--background-secondary);
   color: var(--text-primary);
   overflow: hidden;
   &:hover {
      opacity: 1;
   }
   &Img {
      // height: 100%;
      grid-area: 1 / 1 / 3 / 2;
      border-radius: 10px;
      width: 300px;
      height: 200px;
   }

   &Container {
      @include flex($direction: column, $align: stretch);
      width: calc(100% - 300px);
      gap: 30px;
   }
   &Header {
      @include flex($direction: column, $align: start, $justify: start);
      width: 100%;
      gap: 5px;
      &__top {
         @include flex($justify: end);
         width: 100%;
         gap: 20px;
      }
      &__title {
         font-size: 22px;
         line-height: 150%;
         font-weight: 400;
         color: var(--text-primary);
         margin-right: auto;
      }

      &__model {
         font-size: 13px;
         // line-height: 180%;
         font-family: $font-roboto;

         font-weight: 400;
         color: var(--text-primary);
         opacity: 0.4;
      }

      &__desc {
         font-size: 18px;
         line-height: 150%;
         font-weight: 400;
         color: var(--text-primary);
      }

      &__isNew {
         border-radius: 4px;
         background: #64bd38;
         font-size: 16px;
         font-family: $font-tildaSans;
         font-weight: 300;
         color: var(--text-secondary);
         padding: 6px 13px;
         display: none;
         &.visible {
            display: block;
         }
      }

      &__priceContainer {
         @include flex();
         width: 30%;
      }

      &__price {
         font-size: 22px;
         font-weight: 600;
         color: var(--text-primary) !important;
      }

      &__isFavorite {
         border: none;
         background: transparent;
         @include flex($justify: center);
         color: #bdc2c7;
         width: 25px;
         height: 25px;
         padding-bottom: 4px;
         opacity: 0.7;
         transition: 0.3s;
         &:hover {
            opacity: 1;
         }
         & > svg {
            width: 100%;
            height: 100%;
         }
      }

      &.small {
      }
   }

   &Footer {
      @include flex($align: end);

      gap: 20px;

      &__location {
         @include flex($direction: column, $align: start);
         gap: 5px;

         font-size: 16px;
         color: var(--text-primary);
         font-weight: 500;
         opacity: 0.4;
      }

      &__boosts {
      }

      &__buttons {
         @include flex($justify: end);
         gap: 10px;
         width: 100%;
         & > button {
            width: 50%;
            padding: 5px;
            opacity: 0.7;
            @include flex($justify: center);
            color: var(--text-secondary);
            font-family: $font-tildaSans;
            border: none;
            border-radius: 5px;
            transition: 0.3s;
            &:hover {
               opacity: 1;
            }
            &.approve {
               background: #60c300;
            }
            &.reject {
               background: #ff0909;
            }
         }
      }
   }

   .fromOwner {
      @include flex($justify: center);
      border-radius: 6px;
      background: var(--background-secondary);
      padding: 6px 8px;
      gap: 10px;
      color: var(--text-secondary);
      font-family: $font-tildaSans;
      font-weight: 400;
   }
}

@media screen and (max-width: 1100px) {
   .advert {
      padding: 15px;
      gap: 10px;

      &Img {
         // height: 100%;
         border-radius: 10px;
         width: 250px;
         height: 170px;
      }

      &Container {
         @include flex($direction: column, $align: stretch);
         width: calc(100% - 220px);
         gap: 10px;
      }
      &Header {
         @include flex($direction: column, $align: start, $justify: start);
         gap: 5px;
         &__top {
            @include flex($justify: end);
            width: 100%;
            gap: 20px;
         }
         &__title {
            font-size: 22px;
         }

         &__model {
            font-size: 13px;
            // line-height: 180%;
         }

         &__desc {
            font-size: 18px;
         }

         &__isNew {
            font-size: 16px;
         }

         &__price {
            font-size: 22px;
         }

         &__isFavorite {
            width: 20px;
            height: 20px;
            padding-bottom: 4px;
         }
      }

      &Footer {
         @include flex();

         gap: 20px;

         &__location {
            font-size: 16px;
            font-weight: 500;
         }

         &__buttons {
            & > button {
               font-size: 14px;
            }
         }
      }

      .fromOwner {
         @include flex($justify: center);
         gap: 8px;
      }
   }
}

@media screen and (max-width: 720px) {
   .advert {
      padding: 10px;
      &Img {
         // height: 100%;
         width: 210px;
         height: 140px;
      }

      &Container {
         width: calc(100% - 170px);
         gap: 4px;
      }
      &Header {
         gap: 2px;
         &__top {
            width: 100%;
            gap: 10px;
         }
         &__title {
            font-size: 16px;
         }

         &__model {
            font-size: 9px;
            // line-height: 180%;
            font-family: $font-roboto;

            font-weight: 400;
         }

         &__desc {
            font-size: 12px;
            line-height: 150%;
            font-weight: 400;
         }

         &__isNew {
            border-radius: 4px;
            background: #64bd38;
            font-size: 10px;
            font-family: $font-tildaSans;
            font-weight: 300;
            padding: 2px 6px;
         }

         &__priceContainer {
            @include flex();
            width: 30%;
         }

         &__price {
            font-size: 16px;
            font-weight: 600;
         }

         &__isFavorite {
            border: none;
            background: transparent;
            @include flex($justify: center);
            width: 18px;
            height: 18px;
            padding-bottom: 2px;
            & > svg {
               width: 100%;
               height: 100%;
            }
         }
      }

      &Footer {
         @include flex();

         gap: 20px;

         &__location {
            @include flex($direction: column, $align: start);
            gap: 5px;

            font-size: 8px !important;
            font-weight: 500;
         }

         &__buttons {
            & > button {
               font-size: 10px;
            }
         }
      }

      .fromOwner {
         border-radius: 6px;
         padding: 2px 4px;
         font-size: 10px;
         gap: 5px;
         font-family: $font-tildaSans;
         font-weight: 400;

         & > img {
            width: 12px;
            height: 12px;
         }
      }
   }
}

@media screen and (max-width: 500px) {
   .advert {
      padding: 10px;
      flex-direction: column;
      gap: 7px;
      &Img {
         // height: 100%;
         width: 100%;
         height: 110px;
      }

      &Container {
         width: 100%;
         gap: 4px;
      }
      &Header {
         gap: 6px;
         &__top {
            width: 100%;
            gap: 7px;
         }
         &__title {
            font-size: 13px;
         }

         &__desc {
            font-size: 10px;
         }

         &__price {
            font-size: 13px;
         }

         &__isFavorite {
            width: 14px;
            height: 14px;
         }
      }

      &Footer {
         flex-direction: column;
         align-items: start;
         gap: 5px;
      }
   }
}

@media screen and (max-width: 360px) {
   .advert {
      padding: 5px;
      flex-direction: column;
      &Img {
         height: 90px;
      }
   }
}
