@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.title {
   background: #5cc400;
   padding: 6px;
   color: black;
   font-size: 32px;
   font-weight: 700;
}

.wrapper {
   max-width: 760px;
   margin: 0 auto;
}
.mainPage {
   @include flex($direction: column);
   font-family: $font-tildaSans;
   &__intro {
      width: 100vw;
      height: 100vh;
      background:
         url('./assets/dark.png') no-repeat 100% 100%,
         url('./assets/bg.jpg') no-repeat center center;
      background-size: cover;
      padding: 200px;
      @include flex($direction: column, $justify: start);
      gap: 50px;
   }

   &__title {
      color: #5cc400;
      font-size: 58px;
      text-align: center;
      text-align: center;
      font-weight: 800;
   }
   &__desc {
      color: $white;
      font-size: 24px;
      text-align: center;
      font-weight: 400;
      line-height: 150%;
      & > span {
         font-weight: 600;
      }

      .vmt {
         color: #5cc400;
      }
   }
   &__about {
      width: 100vw;
      padding: 80px 0;

      &_desc {
         font-size: 20px;
         font-weight: 400;
         color: var(--text-tertiary);
         list-style: decimal;
         @include flex($direction: column, $align: start);
         line-height: 150%;

         &:last-child {
            list-style: disc;
         }
      }

      &_content {
         @include flex($justify: center, $direction: column);
         gap: 40px;

         & > span {
            font-size: 24px;
            color: var(--text-primary);
            font-weight: 600;
         }

         p {
            align-self: flex-start;
            font-weight: 600;
            font-size: 20px;
            color: var(--text-primary);
            line-height: 150%;
         }
      }
   }

   &__contacts {
      width: 100vw;
      @include flex($align: stretch);
      height: 960px;

      &_content,
      &_img {
         width: 50%;
      }

      &_content {
         background: #292929;
         @include flex($direction: column, $align: start, $justify: center);
         gap: 40px;
         padding-left: 130px;
         color: white;

         & > h4 {
            font-size: 52px;
            font-weight: 700;
         }
      }

      &_list {
         @include flex($direction: column, $align: start);
         gap: 25px;
         font-size: 20px;
         font-weight: 400;
      }

      &_social {
         @include flex($direction: column, $align: start);
         gap: 25px;
         & > h5 {
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
         }

         &List {
            @include flex();
            gap: 10px;

            & > li {
               opacity: 0.8;
               transition: 0.3s;
               &:hover {
                  opacity: 1;
               }
            }
         }
      }
   }

   &__form {
      padding: 80px 10px 100px 10px;
      &_content {
         @include flex($direction: column);
         gap: 30px;
      }

      &_desc {
         font-size: 20px;
         color: var(--text-tertiary);
         font-weight: 400;
         text-align: center;
         line-height: 150%;
         & > span {
            font-weight: 600;
            color: var(--text-primary);
         }
      }
   }
}

@media (max-width: 900px) {
   .mainPage {
      &__intro {
         background:
            url('./assets/dark.png') no-repeat 100% 100%,
            url('./assets/mobile_bg.png') no-repeat center center;
         background-size: cover;
         padding: 200px 20px 50px 20px;
         height: auto;
         & > button {
            margin-top: 80px;
         }
      }

      &__title {
         font-size: 32px;
         font-weight: 600;
      }
      &__desc {
         font-size: 20px;

         & > span {
            font-weight: 600;
         }

         .vmt {
            color: #5cc400;
         }
      }
      &__about {
         width: 100vw;
         padding: 40px 30px 25px 30px;

         &_desc {
            font-size: 15px;
         }

         &_content {
            & > p {
               font-size: 15px;
            }
         }
      }

      &__contacts {
         height: auto;
         flex-direction: column-reverse;

         &_content,
         &_img {
            width: 100%;
         }

         &_content {
            padding: 50px 25px 75px 25px;
            & > h4 {
               font-size: 32px;
            }
         }

         &_list {
            gap: 25px;
            font-size: 15px;
         }

         &_social {
            & > h5 {
               font-size: 15px;
            }

            &List {
               @include flex();
               gap: 10px;

               & img {
                  height: 35px;
               }
            }
         }
      }
   }
}
@media (max-width: 700px) {
   .container {
      margin-right: 0;
      padding: 10px;
   }
}

@media (max-width: 470px) {
   .container {
      margin-right: 0;
      padding-bottom: 40px;
   }
}
