@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.add-project-form {
   @include flex(
      $direction: column,
      $justify: stretch,
      $gap: 40px,
      $align: stretch
   );
   padding: 30px 20px;
   width: 800px;
   max-width: 100%;
   max-height: 100%;

   &__input {
      @include input;
      width: 100%;
   }

   &__button {
      @include button-primary();
   }

   &__elem {
      @include flex(
         $direction: column,
         $justify: stretch,
         $gap: 10px,
         $align: stretch
      );
   }
}
