html {
   scroll-behavior: smooth;
}

:root {
   /* light theme tokens */
   --background-primary-light: rgb(255, 255, 255);
   --background-tertiary-light: rgb(255, 255, 255);
   --text-primary-light: rgb(0, 0, 0);
   --text-secondary-light: rgb(255, 255, 255);
   --text-tertiary-light: #404040;
   --background-secondary-light: rgb(0, 0, 0);
   --negative-light: rgb(255, 255, 255);
   --negative-02-light: rgba(0, 0, 0, 0.144);
   --border-primary-light: rgb(255, 255, 255);

   /* dark theme tokens */
   --background-primary-dark: rgb(23, 22, 22);
   --background-tertiary-dark: rgb(29, 28, 46);
   --text-primary-dark: rgb(255, 255, 255);
   --text-secondary-dark: rgb(0, 0, 0);
   --text-tertiary-dark: #bdbdbd;
   --background-secondary-dark: rgb(255, 255, 255);
   --negative-dark: rgb(0, 0, 0);
   --negative-02-dark: rgba(255, 255, 255, 0.137);
   --border-primary-dark: rgb(75, 75, 75);



   --header-height: 80px;

   
@media screen and (max-width: 750px) {
   --header-height: 70px;
}
   
}

/* map tokens to proper theme */
[data-theme='light'] {
   --background-primary: var(--background-primary-light);
   --background-secondary: var(--background-secondary-light);
   --negative: var(--negative-light);
   --text-primary: var(--text-primary-light);
   --text-secondary: var(--text-secondary-light);
   --negative-02: var(--negative-02-light);
   --text-tertiary: var(--text-tertiary-light);
   --background-tertiary: var(--background-tertiary-light);
   --border-primary: var(--border-primary-light);
}

[data-theme='dark'] {
   --background-primary: var(--background-primary-dark);
   --background-secondary: var(--background-secondary-dark);
   --negative: var(--negative-dark);
   --background-tertiary: var(--background-tertiary-dark);
   --text-primary: var(--text-primary-dark);
   --text-secondary: var(--text-secondary-dark);
   --negative-02: var(--negative-02-dark);
   --text-tertiary: var(--text-tertiary-dark);
   --border-primary: var(--border-primary-dark);
}

body {
   font-family: $font-montserrat;
   max-width: 100vw;
   transition: 0.3s;
   color: $black;
   font-weight: 700;
   box-sizing: border-box;
   height: auto;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   position: relative;
   overflow-x: hidden;
   max-width: 100vw;
   background: var(--background-primary);
   &.no-scroll {
      overflow: hidden;
   }

   &::-webkit-scrollbar {
      width: 10px;
      background: black;
      &-thumb {
         background: #5d5d5d;
         border-radius: 999px;
      }
   }
}

#root {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
main {
   flex-grow: 1;
   display: flex;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}

// .wrapper {
//    height: 100%;
//    max-width: 1500px;
//    width: 100%;
//    margin: 0 auto;
//    height: 100%;
//    padding-left: 30px;
//    padding-right: 30px;
//    @include media-max-m {
//       padding-left: 16px;
//       padding-right: 16px;
//    }
//    @include media-max-s {
//       max-width: 100vw;
//    }
// }

img {
   object-fit: cover;
   max-width: 100%;
   max-height: 100%;
}

input:-webkit-autofill {
   &:hover,
   &:focus,
   &:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: #ffffff;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px rgba(35, 35, 35, 0);
   }
}

.title {
   @include h2;
}

.subtitle {
   @include h3;
}

.text {
   @include text;
}

.small-text {
   @include small-text;
}

.no-scroll {
   overflow: hidden;
}

