@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.loginForm {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: stretch;

   .title {
      font-size: 30px;
      line-height: 39px;
      color: $black;
      font-weight: 500;
      margin-bottom: 10px;
   }

   label {
      color: white;
      margin-left: 20px;
   }
   & > button {
      align-self: center;
      font-size: 16px;
      font-weight: 600;
      padding: 20px 85px;
      margin-bottom: 10px;
      margin-top: 20px;
   }
}
