@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.container {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: start;
   font-family: $font-tildaSans;

}
.input {
   outline: none;
   padding: 15px 24px;
   width: 100%;
   background: transparent;
   border: 1px solid white;
   border-radius: 999px;
   font-size: 16px;
   font-weight: 300;
   line-height: 26px;
   color: #5e5c8a;
   transition: 0.3s;
   width: 100%;
   font-size: 16px;
   line-height: 19.2px;
   color: white;

   &:disabled {
      opacity: 0.5;
   }
   // &:hover {
   //    border-color: #37335d;
   // }

   &::placeholder {
      color: rgba(255, 255, 255, 0.685);
   }
}

.label {
   color: var(--text-primary);
   font-size: 18px;
   font-weight: 300;
   transition: color 0.3s ease;
   margin-bottom: 5px;
   margin-left: 3px;
   text-align: center;
   &.error {
      color: red;
   }
}

@media screen and (max-width: 700px) {
   .container {
      width: 100%;
   }

   .input {
      padding: 12px 13px 10px 13px;
      font-size: 16px;
   }
}

// @include media-max-s {
//    .container {
//       width: 100%;
//    }

//    .input {
//       padding: 12px 10px 10px 10px;
//       font-size: $size-xxxxxs;
//       border-width: 2px;
//    }
// }
