@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.profile {
   width: 100%;
   max-height: 100%;
   position: relative;
   display: flex;
   align-items: stretch;
   width: 100%;
   position: relative;

   .avatar {
      border-radius: 50%;
      border: 8px solid $white;
      min-width: calc(25vw - 120px);
      min-height: calc(25vw - 120px);
      height: calc(25vw - 120px);
      width: calc(25vw - 120px);
   }

   .defaultText {
   }

   .left {
      @include flex($direction: column, $justify: start);
      gap: 20px;
      padding: 20px 60px 40px;
      background: #000000;

      &__buttons {
         @include flex($align: stretch);
         gap: 20px;
         width: 100%;
         margin-bottom: 40px;
         & > button {
            font-size: 18px;
            font-weight: 600;
            line-height: 150%;
            color: $black;
            padding: 8px 10px;
            border-radius: 10px;
            background: $white;
            min-width: 40%;
            @include flex($justify: center);
            border: none;
         }
      }
   }

   .greeting {
      font-size: 24px;
      font-weight: 400;
      line-height: 150%;
      color: white;
      text-align: center;
      margin-bottom: 40px;
   }

   .userInfo {
      @include flex($direction: column, $align: start);
      gap: 24px;
      color: white;
      width: 100%;

      & > li {
         width: 100%;
         @include flex($justify: start);
         font-size: 24px;
         line-height: 150%;
         font-weight: 400;
         text-wrap: nowrap;
         & > span {
            @include flex($align: center, $justify: start);
            gap: 24px;
            color: white;
            width: 100%;

            margin-right: auto;

            & > svg {
               width: 30px;
               height: 30px;
            }
         }

         &.hidden {
            display: none;
         }
      }
   }
   .content {
      width: 100%;
      height: 100%;
      display: flex;
   }

   .right {
      @include flex($direction: column, $justify: start, $align: stretch);
      width: 100%;
      gap: 10px;
      padding: 50px;
      height: 100%;

      &__info {
         @include flex($align: start, $direction: column, $justify: start);
         gap: 25px;
         padding-bottom: 40px;

         border-bottom: 1px solid $black;

         &Top {
            width: 100%;
            @include flex();
         }

         .settingsBtn {
            border: none;
            background-color: transparent;
            padding: 0;
            @include flex($justify: center);
            min-width: 50px;
            min-height: 50px;
            transition: 0.3s;
            padding: 8px;
            opacity: 0.8;
            border-radius: 999px;
            color: var(--text-primary);
            &:hover {
               opacity: 1;
               background: rgba(0, 0, 0, 0.072);
            }
            & > svg {
               width: 100%;
               height: 100%;
            }
         }
      }

      &__title {
         background-color: var(--background-secondary);
         border-radius: 10px;
         padding: 8px 21px;
         color: var(--text-secondary);
         font-weight: 600;
         text-transform: uppercase;
         font-size: 18px;
         line-height: 150%;
      }

      &__username {
         font-size: 40px;
         line-height: 110%;
         color: var(--text-primary);
         text-shadow: 0 5px 5px rgba(0, 0, 0, 0.305);
      }

      &__about_desc {
         font-size: 24px;
         line-height: 150%;
         color: #666565;
         // max-width: 70%;
         font-weight: 400;
      }

      &__ads {
         &_list {
            @include flex($direction: column, $align: stretch);
            gap: 20px;
         }
      }

      .blockTitle {
         color: var(--text-tertiary);
         font-size: 24px;
         line-height: 150%;
         margin-bottom: 20px;
      }
   }
}

@media screen and (max-width: 1200px) {
   .right {
      padding: 20px !important;
   }
   .right__ads {
      &_list {
         @include flex($direction: column, $align: stretch);
         gap: 20px;

         & > div {
            & h4 {
               font-size: 18px;
               text-wrap: nowrap;
            }

            & p {
               font-size: 16px;
               text-wrap: nowrap;
               // overflow: hidden;
               // text-overflow: ellipsis;
            }
         }
      }
   }
}

@media screen and (max-width: 1000px) {
   .profile {
      width: 100%;
      max-height: 100%;
      position: relative;
      display: flex;
      align-items: stretch;
      width: 100%;
      position: relative;

      .avatar {
         border-radius: 50%;
         border: 8px solid $white;
         min-width: 25vw;
         min-height: 25vw;
         height: calc(25vw - 120px);
         width: calc(25vw - 120px);
      }

      .left {
         @include flex($direction: column, $justify: start);
         gap: 20px;
         padding: 20px;
         &__buttons {
            flex-direction: column;
            width: 100%;
            gap: 10px;
            margin-bottom: 20px;
            & > button {
               width: 100%;
            }
         }

         .row {
            display: none;
         }
      }

      .userInfo {
         & > li {
            font-size: 16px;
         }
      }

      .greeting {
         font-size: 20px;
         font-weight: 400;
         line-height: 150%;
         color: white;
         text-align: center;
         margin-bottom: 40px;
      }

      .content {
         width: 100%;
         height: 100%;
         display: flex;
      }

      .right {
         @include flex($direction: column, $justify: start, $align: stretch);
         width: 100%;
         gap: 10px;
         padding: 25px;
         height: 100%;

         &__info {
            @include flex($align: start, $direction: column, $justify: start);
            gap: 25px;
            padding-top: 20px;
         }

         &__title {
            background-color: #000000;
            border-radius: 10px;
            padding: 8px 21px;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 150%;
         }

         &__username {
            font-size: 26px;
            line-height: 110%;
            color: var(--text-primary);
            text-shadow: 0 5px 5px rgba(0, 0, 0, 0.305);
         }

         &__about_desc {
            font-size: 18px;
            line-height: 150%;
            color: #666565;
            // max-width: 70%;
            font-weight: 400;
         }

         &__ads {
            &_list {
               @include flex($direction: column, $align: stretch);
               gap: 20px;

               & > div {
                  & h4 {
                     font-size: 18px;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 720px) {
   .profile {
      .content {
         flex-direction: column;
      }

      .avatar {
         border-radius: 50%;
         border-color: $black;
         min-width: 25vw;
         min-height: 25vw;
         height: 40vw;
         width: 40vw;
      }

      .left {
         @include flex($direction: column, $justify: start);
         gap: 20px;
         padding: 15px;
         background: transparent;
         padding-bottom: 0;
         &__buttons {
            flex-direction: column;
            width: 100%;
            gap: 10px;
            margin-bottom: 20px;
            & > button {
               width: auto;
               background: var(--text-primary);
               color: var(--text-secondary);
            }
         }

         .row {
            width: 100%;
            display: block;
         }
      }

      .greeting {
         display: none;
      }

      .userInfo {
         gap: 24px;
         color: $black;

         width: 100%;
         flex-direction: row;
         width: 80%;
         & > li {
            width: 100%;
            font-size: 18px;
            line-height: 150%;
            font-weight: 400;
            color: var(--text-primary);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            text-wrap: nowrap;
            & > span {
               align-items: center;
               justify-content: center;
               color: $black;

               margin-right: auto;

               & > span {
                  display: none;
               }

               & > svg {
                  color: var(--text-primary);
               }
            }
         }
      }
      .content {
         width: 100%;
         height: 100%;
         display: flex;
      }

      .right {
         @include flex($direction: column, $justify: start, $align: stretch);
         width: 100%;
         gap: 10px;
         padding: 15px;
         height: 100%;
         padding-top: 0;

         &__info {
            @include flex($align: start, $direction: column, $justify: start);
            gap: 25px;
            padding-bottom: 40px;

            border-bottom: 1px solid $black;
         }

         &__title {
            display: none;
         }

         &__username {
            font-size: 26px;
            line-height: 110%;
            color: var(--text-primary);
            text-shadow: 0 5px 5px rgba(0, 0, 0, 0.305);
         }

         &__about_desc {
            font-size: 18px;
            line-height: 150%;
            color: #666565;
            // max-width: 70%;
            font-weight: 400;
         }

         &__ads {
            &_list {
               @include flex($direction: column, $align: stretch);
               gap: 20px;
            }
         }

         .blockTitle {
            margin-bottom: 10px;
         }
      }
   }
}
