@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';
.header {
   width: 100vw;
   height: 80px;
   padding: 10px 0;
   @include flex($align: stretch);
   background-color: black;
   border-bottom: 2px solid $black;
   font-family: $font-tildaSans;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 990;
   &__content {
      display: flex;
      flex-direction: row;
      justify-content: start;
      height: 100%;
      gap: 30px;
   }

   &__control {
      @include flex();
      gap: 30px;
      margin-left: auto;

      .submitBtn {
         width: auto;
         padding: 9px 12px;
         background: #60c300;
         color: white;
         border: none;
         & > div {
            width: 100%;
            height: 100%;
            @include flex($justify: center);
            gap: 13px;
            font-size: 14px;
            font-weight: 500;
         }
         border-radius: 10px;
      }
   }

   .header__profile {
      border-radius: 18px;

      border: 2px solid rgba(255, 255, 255, 0.5);
      @include flex($justify: center);
      padding: 8px 25px;
      gap: 7px;

      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      background: transparent;
   }
   &__btn {
      display: flex;
   }

   .lang {
      color: white;
      position: relative;
      font-size: 16px;

      font-family: $font-tildaSans;
      font-weight: 300;
      text-transform: uppercase;

      &_text {
         width: 100%;
      }

      &_item {
         @include flex();

         gap: 10px;
         width: 100%;
         padding: 10px;
         cursor: pointer;
         &:hover {
            background: rgba(255, 255, 255, 0.185);
         }
      }

      &_list {
         // @include flex($direction: column, $align: start);
         gap: 10px;
         position: absolute;
         left: 0;
         width: 100%;
         top: 100%;
         height: 0;
         transition: 0.3s;
         z-index: 99999;
         background: rgba(0, 0, 0, 0.507);
         border-radius: 5px;
         overflow-y: scroll;
         &::-webkit-scrollbar {
            background: transparent;
            width: 6px;

            &-button {
               background: transparent;
               height: 0;
            }
            &-thumb {
               background: white;
               border-radius: 999px;
            }
         }

         &.open {
            height: calc(60px * 3);
         }
      }

      & img {
         width: 35px;
         height: 35px;
         @include flex($justify: center);
         padding: 0;
         margin: 0;
      }

      &_current {
         @include flex();
         gap: 10px;
         width: 100%;
         transition: 0.3s;
         padding: 10px;
         cursor: pointer;
         &:hover {
            background: rgba(255, 255, 255, 0.185);
            border-radius: 999px;
         }
      }
   }

   .auth__btns {
      @include flex();

      & > a {
         padding: 11px 25px;
         border: 2px solid rgba(255, 255, 255, 0.478);
         color: white;
         font-size: 18px;
         text-decoration: none;

         font-weight: 400;
         transition: 0.3s;
         &:hover {
            background: rgb(255, 255, 255);
            color: black;
         }
         &:first-child {
            border-radius: 18px 0 0 18px;
            border-right-width: 1px;
         }
         &:last-child {
            border-radius: 0 18px 18px 0;
            border-left-width: 1px;
         }
      }
   }
}

.logo {
   width: 140px;
   height: 100%;
   text-decoration: none;
   opacity: 0.8;
   transition: 0.3s;
   display: flex;
   &__img {
      object-fit: contain;
      height: 100%;
      width: 100%;
   }

   &:hover {
      opacity: 1;
   }
}

.authBtn {
   border: 2px solid $black;
   border-radius: 999px;
   padding: 0 30px;

   font-weight: 400;
   font-size: 18px;

   @include flex;
   transition: 0.3s;

   gap: 20px;
   text-decoration: none;

   color: $black;
   & > svg {
      width: 30px;
      height: 30px;
   }

   &:hover {
      border-color: $purple;
      color: $purple;
   }
}

.profileBlock {
   display: flex;
   align-items: stretch;
   justify-content: center;
   gap: 20px;
}

.mapBtn {
   border-radius: 50%;

   border: none;
   // border: 2px solid;
   background: transparent;
   padding: 10px;
   @include flex($justify: center);
   & > svg {
      width: 40px;
      height: 40px;
      color: $purple;
   }
}

.likes {
   width: -moz-fit-content;
   width: fit-content;
   align-items: center;
   display: flex;
   flex-direction: column;
   color: white;
   font-weight: 300;

   &Img {
      color: #ffad7e;
   }
}

.authButtons {
   display: flex;
   gap: 20px;
   align-items: center;

   button {
      transition: 0.3s all ease-in-out;
      outline: none;
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      position: relative;
      border-radius: 24px;
      padding: 10px 30px;
      border: 1px solid #ffffff;

      color: white;

      & svg {
         width: 25px;
         height: 25px;
      }
   }
}

.search {
   &Container {
      position: relative;
      height: 100%;
      width: 50%;
      &:has(.searchInput:hover) {
         .searchIcon {
            color: $black;
         }
      }

      &:has(.searchInput:focus) {
         .searchIcon {
            color: $black;
         }
      }
   }

   &Icon {
      position: absolute;
      top: 50%;
      left: 17px;
      width: 26px;
      height: 26px;
      transform: translateY(-50%);
      color: $gray;
      transition: 0.3s;
   }
   &Input {
      border-radius: 10px;
      background: $white;
      font-weight: 400;

      padding: 10px;
      padding-left: 60px;
      border: 1px solid $soft-gray;
      width: 100%;
      height: 100%;

      &::placeholder {
         color: $gray;
         transition: 0.3s;
      }

      &:hover {
         &::placeholder {
            color: $black;
         }
      }
      &:focus {
         &::placeholder {
            color: $black;
         }
      }
   }
}

@media (max-width: 1100px) {
   .header {
      
      &__control {
         // width: 20%;
      }

      &__lang {
         display: none;
      }
   }
}
@media (max-width: 1000px) {
   .header {
      .lang {
         display: none;
      }

      .themeSwitcher {
         position: absolute;
         top: 50%;
         right: 10px;
         transform: translateY(-50%);
         z-index: 99999;
         width: 30px;
         display: none;
      }

      &__control {
         .submitBtn {
            position: fixed;
            z-index: 999;
            bottom: 20px;
            width: 80px;
            height: 80px;
            right: 20px;
            @include flex($justify: center);
            padding: 15px;
            border-radius: 999px;
            & > div {
               & > span {
                  display: none;
               }

               & > img {
                  width: 100%;
               }
            }
         }
      }

      &__lang {
         display: none;
      }
   }
}

@media (max-width: 750px) {
   .header {
      height: 70px;
      &__control {
         .submitBtn {
            width: 60px;
            height: 60px;
            padding: 10px;
            border-radius: 999px;
            & > div {
               & > span {
                  display: none;
               }

               & > img {
                  width: 100%;
               }
            }
         }
      }
      min-height: 0;
      &__control {
      }

      &__content {
         flex-direction: row;
         position: relative;
      }

      .logo {
         display: flex;
         align-items: center;
         justify-content: center;
         position: absolute;
         top: 50%;
         left: 50%;
         opacity: 1;
         transform: translate(-50%, -50%);
         & > img {
            min-width: 82px;
            min-height: 45px;
         }

         display: none;
      }

      .auth__btns {
         & > a {
            font-size: 14px;
            padding: 11px 14px;
            white-space: nowrap;
         }
      }
   }
}
