@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.container {
   

   &__input {
      @include input;
      width: 100%;
   }

   & > span {
      font-weight: 400;
      color: $red;
   }

   &.error {

      
   }
}
