@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.add {
   &Header {
      width: 100vw;
      background: url('./assets//bg.png');
      background-size: 100% 100%;
      padding: 116px 30px;
      @include flex($justify: center);
   }

   &Title {
      font-size: 48px;
      font-weight: 500;
      color: $white;
      text-align: center;
   }

   .wrapper {
      max-width: 1000px;
      margin: 0 auto;
   }

   &Form {
      @include flex($direction: column, $align: stretch);
      gap: 20px;
      padding: 30px;
   }

   .block {
      border-radius: 10px;
      background: $white;
      padding: 20px;
      box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.384);
      gap: 25px !important;
      @include flex($direction: column, $align: stretch, $justify: start);
      & input,
      & textarea {
         border-color: black;
         color: black;
         border-radius: 5px;
         padding: 8px 13px;
         font-size: 16px;
         font-family: $font-tildaSans;
         &::placeholder {
            color: rgb(152, 152, 152);
         }
      }

      & label {
         display: none;
      }

      & textarea {
         resize: none;
         height: 250px;
      }

      &__content {
         @include flex();
      }

      .contactForm {
         @include flex($direction: column);
         gap: 15px;

         & input {
            &::placeholder {
               color: black;
            }
         }
      }
   }

   .title {
      font-size: 20px;
      color: white;
      font-weight: 500;
      padding: 19px 108px;
      font-family: $font-tildaSans;
      border-radius: 10px;
      background: #60c300;
      width: auto;
      align-self: start;
   }
   .subtitle {
      font-size: 18px;
      color: white;
      @include flex($justify: center);
      font-weight: 400;
      padding: 9px 38px;
      font-family: $font-tildaSans;
      border-radius: 10px;
      background: #60c300;
      width: auto;
      align-self: start;
   }

   .spec {
      @include flex();
      gap: 20px;

      .subtitle {
         width: 100%;
         padding: 9px;
      }
      .elem {
         @include flex($direction: column, $justify: start);
         gap: 10px;

         & label {
            display: none;
         }

         & input {
            border-color: black;
            border-radius: 5px;

            color: black;

            &::placeholder {
               color: black;
               opacity: 0.7;

               &:hover {
                  opacity: 1;
               }
            }
         }
         & > h5 {
            align-self: center;
         }
      }
   }

   .bodies {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 20px;

      & > li {
         @include flex($direction: column);
         gap: 15px;
         font-size: 32px;
         color: black;
         font-weight: 400;
         cursor: pointer;
         opacity: 0.8;
         transition: 0.3s;

         &:hover {
            opacity: 1;
         }
         &.active {
            & > img {
               box-shadow: 0 0 0 10px rgba(151, 247, 151, 0.447);
            }
         }
         & > img {
            height: 200px;
            border-radius: 15px;
            width: 100%;
            border: 2px solid black;
         }
      }
   }
   & button {
      font-weight: 500;
      border-radius: 10px;
      width: auto;
      align-self: center;
      font-size: 24px;
      font-family: $font-tildaSans;
      text-wrap: wrap;
      line-height: 120%;
   }
}

@media screen and (max-width: 900px) {
   .add {
      &Title {
         font-size: 34px;
         font-weight: 500;
         color: $white;
         text-align: center;
      }

      .wrapper {
         max-width: 1000px;
         margin: 0 auto;
      }

      &Form {
         @include flex($direction: column, $align: stretch);
         gap: 20px;
         padding: 30px;
      }

      .block {
         border-radius: 10px;
         background: $white;
         padding: 20px;
         box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.384);
         gap: 25px !important;
      }

      .title {
         font-size: 20px;
         color: white;
         font-weight: 500;
         padding: 12px 50px;
         font-family: $font-tildaSans;
         border-radius: 10px;
         background: #60c300;
         width: auto;
         text-align: center;
         align-self: start;
      }
      .subtitle {
         font-size: 18px;
         color: white;
         @include flex($justify: center);
         font-weight: 400;
         text-align: center;
         padding: 9px 38px;
         font-family: $font-tildaSans;
         border-radius: 10px;
         background: #60c300;
         width: auto;
         align-self: start;
      }

      .spec {
         .subtitle {
            width: 100%;
            padding: 9px;
         }
         .elem {
            @include flex($direction: column, $justify: start);
            gap: 10px;

            & label {
               display: none;
            }

            & input {
               border-color: black;
               border-radius: 5px;
               color: black;

               &::placeholder {
                  color: black;
                  opacity: 0.7;

                  &:hover {
                     opacity: 1;
                  }
               }
            }
            & > h5 {
               align-self: center;
            }
         }
      }

      .bodies {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(5, 1fr);
         gap: 20px;

         & > li {
            @include flex($direction: column);
            gap: 15px;
            font-size: 22px;
            color: black;
            font-weight: 400;
            & > img {
               height: 150px;
               border-radius: 15px;
               width: 100%;
               border: 2px solid black;
            }
         }
      }
   }
}

@media screen and (max-width: 700px) {
   .add {
      &Header {
         padding: 50px 30px;
      }

      &Title {
         font-size: 34px;
         font-weight: 500;
         color: $white;
         text-align: center;
      }

      .wrapper {
         max-width: 1000px;
         margin: 0 auto;
      }

      &Form {
         @include flex($direction: column, $align: stretch);
         gap: 20px;
         padding: 15px;
      }

      .block {
         border-radius: 10px;
         background: $white;
         padding: 20px;
         box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.384);

         @include flex($direction: column, $align: stretch);

         gap: 20px !important;
      }

      .title {
         font-size: 20px;
         color: white;
         font-weight: 500;
         padding: 12px 50px;
         font-family: $font-tildaSans;
         border-radius: 10px;
         background: #60c300;
         width: auto;
         text-align: center;
         align-self: start;
      }
      .subtitle {
         width: 100%;
      }

      .spec {
         flex-direction: column;
         gap: 30px;
         .subtitle {
            width: 100%;
            padding: 9px;
         }
         .elem {
            @include flex($direction: column, $justify: start);
            gap: 10px;

            & label {
               display: none;
            }

            & > div {
               width: 100%;
            }

            & input {
               border-color: black;
               border-radius: 5px;
               color: black;

               &::placeholder {
                  color: black;
                  opacity: 0.7;

                  &:hover {
                     opacity: 1;
                  }
               }
            }
            & > h5 {
               align-self: center;
            }
         }
      }

      .bodies {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         gap: 10px;

         & > li {
            @include flex($direction: column);
            gap: 8px;
            font-size: 22px;
            color: black;
            font-weight: 400;
            & > img {
               height: 130px;
               border-radius: 15px;
               width: 100%;
               border: 2px solid black;
            }
         }
      }
      & button {
         width: 100%;
         padding: 18px 0;
      }
   }
}
