@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.menu {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   &Burger {
      @include flex($justify: center);
      width: 40px;
      height: 40px;
      border: none;
      padding: 0;
      z-index: 10000;
      background: transparent;
      display: none;
      & > svg {
         width: 100%;
         height: 100%;
      }
   }

   &Container {
      width: auto;
      height: auto;

      @include flex();
   }
}

.list {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
   list-style: none;
   gap: 30px;
   &Item {
      & > a {
         text-decoration: none;
         color: $white;
         font-size: 20px;
         font-weight: 500;
         transition: 0.3s;
         opacity: 0.9;
         border-radius: 999px;
         &:hover {
            opacity: 1;
         }
      }
   }
}

@media screen and (max-width: 950px) {
   .menu {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.638);
      z-index: 9999;
      backdrop-filter: blur(5px);
      transform: translateY(-100vh);
      transition: 0.5s;
      justify-content: start;
      padding-top: 60px;

      &Burger {
         display: flex;

         & > svg {
            color: white;
         }
      }

      &.active {
         transform: translateY(0);
      }
   }

   .list {
      flex-direction: column;
      gap: 0;
      justify-content: center;
      height: 100%;
      &Item {
         padding: 25px 0;
         width: 100%;
         @include flex($justify: center);
         background: rgba(0, 0, 0, 0.303);
         border-bottom: 1px solid rgb(119, 119, 119);
         cursor: pointer;
         transition: 0.3s;

         &:last-child {
            border-bottom: none;
         }
         &:hover {
            background: rgba(121, 121, 121, 0.638);
         }
         & > a {
            font-size: 50px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
         }
      }
   }
}

@media screen and (max-width: 750px) {
   .menu {
   }

   .list {
      &Item {
         & > a {
            font-size: 25px;
         }
      }
   }
}
