@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.page {
   padding: 30px;
   @include flex($align: stretch);
   padding-top: calc(var(--header-height) + 30px);
   width: 100%;
   height: 90vh;
}

.dashboard {
   font-family: $font-tildaSans;
   background: black;
   padding: 30px;
   @include flex($direction: column, $justify: start, $align: stretch);
   border-radius: 20px;
   color: white;
   font-weight: 400;
   gap: 25px;
   width: 49%;
   max-height: 100%;
   border: 1px solid white;
   overflow-y: scroll;

   &::-webkit-scrollbar {
      width: 10px;
      background: transparent;

      &-thumb {
         background: var(--text-tertiary-dark);
         border-radius: 999px;
      }

      &-button {
         height: 10px;
      }
   }

   & > .no_products {
      width: 100%;
      height: 100%;
      @include flex($justify: center);
      font-size: 40px;
      color: rgb(66, 66, 66);
      font-weight: 700;
      text-align: center;
   }
}

@media (max-width: 1600px) {
   .page {
      padding: 20px;
      padding-top: calc(var(--header-height) + 20px);
   }

   .dashboard {
      padding: 25px 15px;
   }
}
@media (max-width: 1400px) {
   .page {
      flex-direction: column;
   }

   .dashboard {
      height: 49%;
      width: 100%;
   }
}

@media (max-width: 900px) {
   .page {
      padding: 0;
      height: calc(100vh);
      gap: 0;
      padding-top: calc(var(--header-height));
   }

   .dashboard {
      padding: 10px;
      height: 50%;
      border-radius: 0;
      border: none;

      border-bottom: 1px solid white;
   }
}
