@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.page {
   width: 100vw;
   @include flex($align: stretch);
   font-family: $font-tildaSans;

   .chatsList {
      width: 20%;
      border-right: 1px solid var(--text-primary);
      @include flex($direction: column, $align: stretch, $justify: start);
      background: var(--negative);
      &__search {
         width: 100%;
         @include flex($justify: center);
         padding: 20px 14px;
         &_input {
            width: 100%;
            border-radius: 5px;
            border: none;
            background: var(--negative-02);
            font-weight: 400;
            font-size: 20px;
            padding: 10px 16px;

            color: var(--text-primary);
            &::placeholder {
            }
         }

         border-bottom: 1px solid var(--text-tertiary);
      }

      &__main {
         @include flex($direction: column);
         width: 100%;
      }

      &__item {
         @include flex($justify: start);
         gap: 12px;

         width: 100%;
         padding: 13px 24px;
         background: var(--negative-02);
         font-size: 20px;
         font-weight: 400;
         border-bottom: 1px solid var(--text-tertiary);
         color: var(--text-primary);
         opacity: 0.7;
         cursor: pointer;
         transition: 0.3s;
         &:hover {
            opacity: 0.9;
         }

         &.active {
            opacity: 1;
         }

         & > img {
            border-radius: 999px;
            width: 45px;
            height: 45px;
            background: var(--text-primary);
         }
      }
   }
   .currentChat {
      width: 80%;
      color: var(--text-primary);
      font-weight: 400;

      &__header {
         @include flex();
         width: 100%;
         padding: 13px 20px;
         background: var(--negative-02);
         flex-grow: 1;
      }

      &__user {
         @include flex($justify: start);
         gap: 12px;
         font-size: 24px;

         & > img {
            border-radius: 999px;
            width: 45px;
            height: 45px;
            background: var(--text-primary);
         }
      }

      &__advert {
         @include flex($justify: end);
         gap: 14px;
         color: var(--text-primary);
         font-weight: 600;
         font-size: 22px;
      }

      &__price {
         @include flex($justify: center);
         padding: 3px 25px;
         border-radius: 999px;
         text-shadow: 0 0 2px rgba(0, 0, 0, 0.163);
         background: #52ff00;
      }

      &__main {
         flex-grow: 10;
         padding: 30px;
         flex-grow: 10;
         height: calc(100% - 80px);
         @include flex($justify: end, $direction: column);
         &_input {
            width: 100%;
            border-radius: 5px;
            border: none;
            background: var(--negative-02);
            font-weight: 400;
            font-size: 20px;
            padding: 10px 16px;

            color: var(--text-primary);
            &::placeholder {
            }
         }
      }
   }
}
