@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.title {
   background: #5cc400;
   padding: 6px;
   color: black;
   font-size: 32px;
   font-weight: 600;
}

.wrapper {
   max-width: 1000px;
   margin: 0 auto;
}

.filterForm {
   margin-bottom: 40px;
}
.ads {
   // @include flex($direction: column, $align: stretch);
   padding: 30px;
   padding-top: calc(var(--header-height) + 30px);
   width: 100vw;
}

.noProducts {
   width: 100%;
   height: 100%;
   opacity: 0.16;
   @include flex($justify: center, $direction: column);
   font-size: 60px;
   color: var(--text-primary);
   font-family: $font-tildaSans;
   text-align: center;
   & > svg {
      width: 40%;
      height: 70%;
   }
}

@media (max-width: 900px) {
   .ads {
      padding: 20px;
      padding-top: calc(var(--header-height) + 20px);
   }
   .mainPage {
      &__intro {
         background:
            url('./assets/dark.png') no-repeat 100% 100%,
            url('./assets/mobile_bg.png') no-repeat center center;
         background-size: cover;
         padding: 200px 20px 50px 20px;
         height: auto;
         & > button {
            margin-top: 80px;
         }
      }

      &__title {
         font-size: 32px;
         font-weight: 600;
      }
      &__desc {
         font-size: 20px;

         & > span {
            font-weight: 600;
         }

         .vmt {
            color: #5cc400;
         }
      }
      &__about {
         width: 100vw;
         padding: 40px 30px 25px 30px;

         &_desc {
            font-size: 15px;
         }

         &_content {
            & > p {
               font-size: 15px;
            }
         }
      }

      &__contacts {
         height: auto;
         flex-direction: column-reverse;

         &_content,
         &_img {
            width: 100%;
         }

         &_content {
            padding: 50px 25px 75px 25px;
            & > h4 {
               font-size: 32px;
            }
         }

         &_list {
            gap: 25px;
            font-size: 15px;
         }

         &_social {
            & > h5 {
               font-size: 15px;
            }

            &List {
               @include flex();
               gap: 10px;

               & img {
                  height: 35px;
               }
            }
         }
      }
   }
}
@media (max-width: 700px) {
   .ads {
      padding: 10px;
      padding-top: calc(var(--header-height) + 10px);
   }
   .container {
      margin-right: 0;
      padding: 10px;
   }

   .noProducts {
      width: 100%;
      height: 100%;
      opacity: 0.1;
      @include flex($justify: center, $direction: column);
      font-size: 36px;
      font-family: $font-tildaSans;
      text-align: center;
      & > svg {
         width: 60%;
         height: 30%;
      }
   }
}

@media (max-width: 470px) {
   .container {
      margin-right: 0;
      padding-bottom: 40px;
   }
}
