@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.page {
   width: 100vw;
   font-family: $font-tildaSans;
   margin: 40px 0;

   &Title {
      font-size: 28px;
      font-weight: 800;
      text-transform: capitalize;
   }
   .wrapper {
      @include flex($direction: column, $justify: start, $align: start);
      gap: 30px;

      max-width: 96vw;
      margin: 0 auto;
   }
   &__content {
      @include flex($align: stretch);
      gap: 10px;
      width: 100%;
   }
   .location {
      font-size: 20px;
   }

   .gallery {
      @include flex($direction: column, $align: start, $justify: start);
      gap: 10px;
      width: 700px;
      width: 40%;
      &__main {
         height: 500px;
         width: 100%;
         position: relative;
         border-radius: 20px;
         overflow: hidden;

         border: 1px solid white;
         box-shadow: -4px 4px 10px 6px rgba(0, 0, 0, 0.404);
         & > img {
            object-fit: cover;
            width: 100%;
            border-radius: 10px;
            height: 100%;
            opacity: 0.6;
            border: 1px solid rgb(192, 192, 192);
         }

         .nextBtn,
         .prevBtn {
            position: absolute;
            background: #000;
            height: 100%;
            width: 10%;
            border: none;
            backdrop-filter: blur(15px);
            opacity: 0;
            transition: 0.3s;
            &:hover {
               opacity: 0.3;
            }
         }

         .nextBtn {
            top: 0;
            right: 0;
         }

         .prevBtn {
            top: 0;
            left: 0;
         }
      }

      &__list {
         @include flex();
         gap: 10px;
         height: 140px;
         width: 100%;

         & > li {
            width: 25%;
            cursor: pointer;
            height: 100%;
            opacity: 0.7;
            transition: 0.3s;
            &:hover {
               opacity: 1;
            }
            & > img {
               width: 100%;
               height: 100%;
               border-radius: 10px;
               object-fit: cover;
            }
         }
      }
   }

   &__contentContainer {
      @include flex($align: stretch, $justify: start);
      gap: 10px;

      width: 60%;
   }

   .info {
      width: 50%;
      background: rgb(0, 0, 0);
      border: 1px solid white;
      padding: 15px;
      border-radius: 20px;
      @include flex($direction: column, $justify: start, $align: stretch);
      gap: 15px;
      color: white;
      font-family: $font-tildaSans;
      font-weight: 400;
      font-size: 25px;
      &__btns {
         margin-top: auto;
         @include flex($justify: center);
         gap: 10px;

         & > button {
            font-family: $font-tildaSans;
            border-radius: 10px;
            background: $white;
            border: none;
            color: $black;
            font-weight: 600;
            font-size: 18px;
            width: 50%;
            padding: 10px 30px;
         }
      }
   }

   .owner {
      @include flex($justify: start);
      gap: 10px;
      cursor: pointer;
      transition: 0.3s;
      padding: 10px;
      border-radius: 5px;
      &__avatar {
         width: 45px;
         height: 45px;
         border-radius: 50%;
         background: white;
      }
      &__name {
         font-weight: 600;
         font-size: 25px;
      }

      &:hover {
         background: rgba(255, 255, 255, 0.116);
      }
   }

   .stats {
      @include flex($direction: column, $align: start);
      margin-top: 5px;
      gap: 25px;
      font-family: $font-tildaSans;
      &__title {
         font-weight: 600;
         font-size: 20px;
      }

      &__list {
         @include flex($direction: column, $align: start);
         gap: 12px;
         font-weight: 300;
         padding-right: 20px;
         max-height: 400px;
         overflow-y: scroll;
         width: 100%;
         &::-webkit-scrollbar {
            background: transparent;
            width: 10px;
            height: 10px;
            &-thumb {
               background: rgb(44, 44, 44);
               border-radius: 999px;
            }

            &-button {
               background-color: transparent;
            }
         }
         // text-transform: uppercase;
         & > li {
            @include flex();
            font-weight: 300;
            letter-spacing: 1px;
            width: 100%;
            font-size: 16px;
            text-transform: capitalize;
            & span {
               width: 50%;
               &:first-child {
                  font-weight: 500;
                  color: rgb(97, 97, 97);
               }

               &:last-child {
                  text-transform: capitalize;
               }
            }
         }
      }
   }

   .comment {
      width: 50%;
      background: rgb(0, 0, 0);
      border: 1px solid white;
      padding: 25px;
      border-radius: 20px;
      @include flex($direction: column, $justify: start, $align: stretch);
      gap: 25px;
      color: white;
      font-weight: 400;
      font-size: 25px;

      &__title {
         font-size: 25px;
         font-weight: 600;
      }

      &__desc {
         &.no_comment {
            color: rgb(88, 88, 88);
            font-weight: 500;
         }
      }
   }
}

@media screen and (max-width: 1400px) {
   .page {
      &__content {
         flex-direction: column;
         align-items: center;
         &Container {
            width: 70%;
            flex-direction: column;

            & > div {
               width: 100%;
            }
         }
      }

      .info {
         width: 100%;
         &__btns {
            & > button {
               padding: 16px;
               width: 50%;
            }
         }
      }

      .comment {
         width: 100%;
      }
      .gallery {
         width: 70%;
      }
   }
}

@media screen and (max-width: 1200px) {
   .page {
      &__content {
         &Container {
            width: 70%;
         }
      }

      .gallery {
         width: 70%;
      }

      .info {
         &__btns {
            gap: 10px;
            flex-direction: column;
            & > button {
               width: 100%;
            }
         }
      }

      .stats {
         gap: 25px;
         &__title {
            font-weight: 600;
            font-size: 24px;
         }

         &__list {
            font-size: 20px;
         }
      }

      .comment {
         font-size: 20px;

         &__title {
            font-size: 24px;
            font-weight: 600;
         }

         &__subtitle {
            font-size: 24px;
            font-weight: 600;
         }
      }
   }
}

@media screen and (max-width: 900px) {
   .page {
      &__content {
         &Container {
            width: 100%;
         }
      }

      .gallery {
         width: 100%;
      }
   }
}

@media screen and (max-width: 600px) {
   .page {
      margin-top: 0;
      margin-bottom: 0;

      &__content {
         justify-content: start;
         gap: 0;
      }
      .wrapper {
         margin: 0;
         max-width: none;
         width: 100vw;
      }

      &__content {
         width: 100%;
      }
      &Title {
         display: none;
      }
      .gallery {
         &__main {
            height: 280px;
            width: 100%;
            border-radius: 0;
            & > img {
               border-radius: 0;
            }
         }

         &__list {
            display: none;
         }
      }

      &__contentContainer {
         background: $black;
         flex-direction: column;
      }

      .info {
         border-radius: 0;
         width: 100%;
         border: none;
         .location {
            font-size: 16px;
            font-weight: 500;
         }
         &__btns {
            border-bottom: 1px solid white;
            padding-bottom: 30px;
            flex-direction: row;
            & > button {
               width: 50%;
            }
         }
      }

      .owner {
         &__avatar {
         }
         &__name {
            font-size: 24px;
         }
      }

      .stats {
         border-top: 1px solid white;
         padding-top: 30px;

         &__title {
            font-size: 24px;
         }

         &__list {
            font-size: 18px;
            & span {
            }
         }
      }

      .comment {
         border-radius: 0;
         border: none;
         width: 100%;
         padding-top: 0;
         &__title {
            font-size: 24px;
         }

         &__subtitle {
            font-size: 24px;
         }
      }
   }
}

@media screen and (max-width: 380px) {
   .page {
      .gallery {
         &__main {
            height: 220px;
         }
      }
      .info {
         &__btns {
            flex-direction: column;
            & > button {
               width: 100%;
            }
         }
      }
   }
}
