@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';

.form {
   @include flex($direction: column, $justify: start, $align: stretch);
   gap: 30px;
   padding: 20px;
   // border: 1px solid white;
   border-radius: 25px;
   transition: 0.3s;
   margin-top: 30px;
   box-shadow: -3px 4px 4px 3px rgba(0, 0, 0, 0.13);
   background: var(--negative);
   border: 2px solid var(--text-primary);
   & label {
      display: none;
   }
   & input {
      border-radius: 5px;
      padding: 8px 13px;
      font-size: 16px;
      font-family: $font-tildaSans;
      border-color: var(--text-primary);
      color: var(--text-primary);

      &:disabled {
         border-color: var(--text-primary);
      }
      &::placeholder {
         color: var(--text-primary);
         opacity: 0.8;
         transition: 0.3s;
         &:hover {
            opacity: 1;
         }
      }
   }

   & div[aria-disabled='true'] {
      opacity: 0.5;
      background-color: transparent;
      border-color: var(--primary-color);
   }

   & div:has(> input[type='checkbox']) {
      position: relative;
      width: 100%;
      border-radius: 5px;
      height: 100%;
      overflow: hidden;
      color: var(--text-primary);
      @include flex($justify: center);
      font-size: 16px;
      font-family: $font-tildaSans;
      font-weight: 300;
      transition: 0.3s;
      border: 1px solid var(--text-primary);

      input {
         // opacity: 0;
         width: 100%;
         height: 100%;
         cursor: pointer;
         top: 0;
         left: 0;
         position: absolute;
         opacity: 0;
      }
   }

   & div:has(> input[value='true']) {
      background: var(--background-secondary);
      color: var(--text-secondary);
      // font-weight: 400;
   }
}

.wrapper {
   max-width: 1000px;
   margin: 0 auto;
}

.line {
   display: grid;
   gap: 20px;

   &:nth-child(2) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);

      & > div {
         &:nth-child(1) {
            grid-area: 1 / 1 / 2 / 2;
         }
         &:nth-child(2) {
            grid-area: 1 / 2 / 2 / 3;
         }
         &:nth-child(3) {
            grid-area: 2 / 1 / 3 / 2;
         }
         &:nth-child(4) {
            grid-area: 1 / 3 / 2 / 4;
         }
         &:nth-child(5) {
            grid-area: 1 / 4 / 2 / 5;
         }
         &:nth-child(6) {
            grid-area: 2 / 3 / 3 / 4;
         }
         &:nth-child(7) {
            grid-area: 1 / 5 / 2 / 6;
         }
         &:nth-child(8) {
            grid-area: 1 / 6 / 2 / 7;
         }
         &:nth-child(9) {
            grid-area: 2 / 5 / 3 / 6;
         }
         &:nth-child(10) {
            grid-area: 2 / 6 / 3 / 7;
         }
         &:nth-child(11) {
            grid-area: 2 / 2 / 3 / 3;
         }
         &:nth-child(12) {
            grid-area: 2 / 4 / 3 / 5;
         }
      }
   }
   &:nth-child(3) {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .title {
         &:nth-child(1) {
            grid-area: 1 / 1 / 2 / 5;
         }
         &:nth-child(2) {
            grid-area: 1 / 5 / 2 / 7;
         }
         &:nth-child(3) {
            grid-area: 1 / 7 / 2 / 9;
         }
      }
      & > div {
         &:nth-child(4) {
            grid-area: 2 / 5 / 3 / 6;
         }
         &:nth-child(5) {
            grid-area: 2 / 6 / 3 / 7;
         }
         &:nth-child(6) {
            grid-area: 2 / 7 / 3 / 9;
         }
         &:nth-child(8) {
            grid-area: 2 / 1 / 3 / 3;
         }
         &:nth-child(7) {
            grid-area: 2 / 3 / 3 / 5;
         }
         &:nth-child(10) {
            grid-area: 2 / 2 / 3 / 3;
         }
         &:nth-child(11) {
            grid-area: 2 / 3 / 3 / 4;
         }
         &:nth-child(12) {
            grid-area: 2 / 4 / 3 / 5;
         }
         // &:nth-child(13) {
         //    grid-area: 2 / 5 / 3 / 6;
         // }
      }
   }

   &:nth-child(4) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      // .title {
      //    grid-area: 1 / 1 / 2 / 5;
      // }
      .resetBtn {
         grid-area: 2 / 1 / 3 / 4;
         border: 2px solid rgb(213, 97, 97);
         border-radius: 5px;
         font-size: 14px;
         font-weight: 500;
         color: $black;
         color: rgb(216, 87, 87);
         background: transparent;
      }

      .submitBtn {
         grid-area: 2 / 4 / 3 /7;
         background: #5cc400;
         color: white;
         font-size: 14px;
         font-weight: 500;
         border: none;
         border-radius: 5px;
      }
      // & > div {
      //    &:nth-child(2) {
      //       grid-area: 2 / 1 / 3 / 3;
      //    }
      //    &:nth-child(2) {
      //       grid-area: 2 / 3 / 3 / 5;
      //    }

      //    &:nth-child(3) {
      //       grid-area: 1 / 5 / 2 / 6;
      //    }
      //    &:nth-child(4) {
      //       grid-area: 1 / 6 / 2 / 7;
      //    }
      //    &:nth-child(5) {
      //       grid-area: 1 / 7 / 2 / 8;
      //    }
      //    &:nth-child(6) {
      //       grid-area: 1 / 8 / 2 / 9;
      //    }
      // }
   }

   .title {
      background: var(--negative-02);
      color: var(--text-primary);
      font-size: 16px;
      @include flex($justify: center);
      // border: 2px solid var(--background-secondary);
      padding: 9px;
      font-weight: 400;
      border-radius: 6px;
   }
}

@media screen and (max-width: 800px) {
   .form {
      @include flex($direction: column, $justify: start, $align: stretch);
      gap: 30px;
      padding: 20px;
      border: 1px solid var(--background-secondary);
      border-radius: 5px;
      transition: 0.3s;
      margin-top: 30px;
      box-shadow: -3px 4px 4px 0 rgba(0, 0, 0, 0.4);
      background: var(--negative);
      & label {
         display: none;
      }
      & input {
         border-radius: 5px;
         padding: 8px 13px;
         font-size: 12px;
         font-family: $font-tildaSans;
         border-color: var(--text-primary);
         color: var(--text-primary);

         &:disabled {
            border-color: var(--text-primary);
         }
         &::placeholder {
            color: var(--text-primary);
            opacity: 0.8;
            transition: 0.3s;
            &:hover {
               opacity: 1;
            }
         }
      }

      & div[aria-disabled='true'] {
         opacity: 0.5;
         background-color: transparent;
         font-size: 12px;
         border-color: var(--primary-color);

         & input {
            font-size: 14px;
         }
      }
   }

   .wrapper {
      max-width: 1000px;
      margin: 0 auto;
   }

   .line {
      display: grid;
      gap: 20px;

      &:nth-child(2) {
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: repeat(3, 1fr);

         & > div {
            &:nth-child(1) {
               grid-area: 1 / 1 / 2 / 2;
            }
            &:nth-child(2) {
               grid-area: 1 / 2 / 2 / 3;
            }
            &:nth-child(3) {
               grid-area: 2 / 1 / 3 / 2;
            }
            &:nth-child(4) {
               grid-area: 1 / 3 / 2 / 5;
            }
            &:nth-child(5) {
               grid-area: 2 / 3 / 3 / 4;
            }
            &:nth-child(6) {
               grid-area: 3 / 1 / 4 / 2;
            }
            &:nth-child(7) {
               grid-area: 3 / 2 / 4 / 3;
            }
            &:nth-child(8) {
               grid-area: 3 / 3 / 4 / 5;
            }
            &:nth-child(9) {
               grid-area: 2 / 2 / 3 / 3;
            }
            &:nth-child(10) {
               grid-area: 2 / 4 / 3 / 5;
            }
         }
      }
      &:nth-child(3) {
         grid-template-columns: repeat(2, 1fr) !important;
         grid-template-rows: repeat(5, 1fr);

         .title {
            &:nth-child(1) {
               grid-area: 1 / 1 / 2 / 3;
            }
            &:nth-child(2) {
               grid-area: 3 / 1 / 4 / 2;
            }
            &:nth-child(3) {
               grid-area: 3 / 2 / 4 / 3;
            }
         }
         & > div {
            &:nth-child(1) {
               grid-area: 2 / 1 / 3 / 2;
            }
            &:nth-child(2) {
               grid-area: 2 / 2 / 3 / 3;
            }

            &:nth-child(4) {
               grid-area: 4 / 1 / 5 / 2;
            }
            &:nth-child(5) {
               grid-area: 4 / 2 / 5 / 3;
            }
            &:nth-child(6) {
               grid-area: 5 / 2 / 6 / 3;
            }
            &:nth-child(7) {
               grid-area: 5 / 1 / 6 / 2;
            }

            &:nth-child(8) {
               grid-area: 2 / 1 / 3 / 2;
            }
            &:nth-child(9) {
               grid-area: 2 / 2 / 3 / 3;
            }
         }
      }

      &:nth-child(4) {
         grid-template-columns: repeat(6, 1fr);
         grid-template-rows: repeat(2, 1fr);

         .resetBtn {
            grid-area: 5 / 1 / 6 / 2;
            border: 2px solid rgb(213, 97, 97);
            border-radius: 5px;
            font-size: 14px;
            font-weight: 500;
            color: $black;
            color: rgb(216, 87, 87);
            background: transparent;
         }

         .submitBtn {
            grid-area: 5 / 2 / 6 / 3;
            background: #5cc400;
            color: white;
            font-size: 14px;
            font-weight: 500;
            border: none;
            border-radius: 5px;
         }
         & > div {
            &:nth-child(1) {
               grid-area: 2 / 1 / 3 / 2;
            }
            &:nth-child(2) {
               grid-area: 2 / 2 / 3 / 3;
            }

            &:nth-child(3) {
               grid-area: 3 / 1 / 4 / 2;
            }
            &:nth-child(4) {
               grid-area: 3 / 2 / 4 / 3;
            }
            &:nth-child(5) {
               grid-area: 4 / 1 / 5 / 2;
            }
            &:nth-child(6) {
               grid-area: 4 / 2 / 5 / 3;
            }
         }
      }

      .title {
         background: var(--negative-02);
         color: var(--text-primary);
         font-size: 16px;
         @include flex($justify: center);
         // border: 2px solid var(--background-secondary);
         padding: 9px;
         font-weight: 400;
         border-radius: 6px;
      }
   }
}

@media screen and (max-width: 450px) {
   .form {
      @include flex($direction: column, $justify: start, $align: stretch);
      gap: 10px;
      padding: 10px;

      & label {
         display: none;
      }
      & input {
         font-size: 12px;
      }
   }

   .line {
      display: grid;
      gap: 10px;

      &:nth-child(2) {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(6, 1fr);

         & > div {
            &:nth-child(1) {
               grid-area: 1 / 1 / 2 / 2;
            }
            &:nth-child(2) {
               grid-area: 1 / 2 / 2 / 3;
            }
            &:nth-child(3) {
               grid-area: 3 / 1 / 4 / 2;
            }
            &:nth-child(4) {
               grid-area: 2 / 1 / 3 / 3;
            }
            &:nth-child(5) {
               grid-area: 4 / 1 / 5 / 2;
            }
            &:nth-child(6) {
               grid-area: 6 / 1 / 7 / 2;
            }
            &:nth-child(7) {
               grid-area: 6 / 2 / 7 / 3;
            }
            &:nth-child(8) {
               grid-area: 5 / 1 / 6/ 3;
            }
            &:nth-child(9) {
               grid-area: 3 / 2 / 4 / 3;
            }
            &:nth-child(10) {
               grid-area: 4 / 2 / 5 / 3;
            }
         }
      }

      .title {
         font-size: 12px;
      }
   }
}
