@import '@/styles/vars';
@import '@/styles/mixins';
@import '@/styles/fonts';
.wrapper {
   max-width: 100vw;
   width: 100%;
   margin: 0 auto;
   padding-left: 30px;
   padding-right: 30px;
   @include media-max-m {
      padding-left: 16px;
      padding-right: 16px;
   }
   @include media-max-s {
      max-width: 100vw;
   }
}
